@charset "UTF-8";
.upsell-container.svelte-1o61rav {
  background-image: linear-gradient(119.67deg, #f65677, #f83d59 5%, #fa233b 12%, #e22338 78%, #e3314d 92%, #e33f61 99%);
  color: var(--systemPrimary-onDark);
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
}
.upsell__content.svelte-1o61rav {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: auto;
  width: 100%;
}
.heading.svelte-1o61rav {
  font-family:
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.007em;
  line-height: 1.2142857143;
  margin: 0 auto 11px;
}
.heading.svelte-1o61rav:lang(ar) {
  font-family:
    SF Pro AR,
    SF Pro AR Display,
    SF Pro Display,
    SF Pro Gulf,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(ja) {
  font-family:
    SF Pro JP,
    SF Pro Display,
    SF Pro Icons,
    Hiragino Kaku Gothic Pro,
    ヒラギノ角ゴ Pro W3,
    メイリオ,
    Meiryo,
    ＭＳ Ｐゴシック,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(ko) {
  font-family:
    SF Pro KR,
    SF Pro Display,
    SF Pro Icons,
    Apple Gothic,
    HY Gulim,
    MalgunGothic,
    HY Dotum,
    Lexi Gulim,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(th) {
  font-family:
    SF Pro TH,
    SF Pro Display,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(zh-CN) {
  font-family:
    SF Pro SC,
    SF Pro Display,
    SF Pro Icons,
    PingFang SC,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(zh-HK) {
  font-family:
    SF Pro HK,
    SF Pro Display,
    SF Pro Icons,
    PingFang HK,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(zh-MO) {
  font-family:
    SF Pro HK,
    SF Pro TC,
    SF Pro Display,
    SF Pro Icons,
    PingFang HK,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.heading.svelte-1o61rav:lang(zh-TW) {
  font-family:
    SF Pro TC,
    SF Pro Display,
    SF Pro Icons,
    PingFang TC,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
@media (min-width: 740px) {
  .heading.svelte-1o61rav {
    font-family:
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1;
  }
  .heading.svelte-1o61rav:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Display,
      SF Pro Display,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Display,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Display,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Display,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (min-width: 1000px) {
  .heading.svelte-1o61rav {
    font-family:
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.003em;
    line-height: 1.0834933333;
  }
  .heading.svelte-1o61rav:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Display,
      SF Pro Display,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Display,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Display,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(zh) {
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Display,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (min-width: 1320px) {
  .heading.svelte-1o61rav {
    font-family:
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -0.009em;
    line-height: 1.0625;
  }
  .heading.svelte-1o61rav:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Display,
      SF Pro Display,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Display,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Display,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(zh) {
    letter-spacing: 0;
  }
  .heading.svelte-1o61rav:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Display,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .heading.svelte-1o61rav:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (min-width: 1000px) {
  .heading.svelte-1o61rav {
    margin-bottom: 15px;
    max-width: 440px;
  }
}
@media (min-width: 1260px) {
  .heading.svelte-1o61rav {
    max-width: 640px;
  }
}
.logo.svelte-1o61rav {
  height: 20px;
  margin-bottom: 14px;
  fill: var(--systemPrimary-onDark);
}
.logo.svelte-1o61rav svg {
  height: inherit;
}
@media (max-width: 483px) {
  .logo.svelte-1o61rav {
    display: none;
  }
}
.message.svelte-1o61rav {
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3846153846;
  margin: 0 auto 32px;
  max-width: 500px;
  white-space: pre-line;
}
.message.svelte-1o61rav:lang(bn),
.message.svelte-1o61rav:lang(gu),
.message.svelte-1o61rav:lang(hi),
.message.svelte-1o61rav:lang(kn),
.message.svelte-1o61rav:lang(ml),
.message.svelte-1o61rav:lang(mr),
.message.svelte-1o61rav:lang(or),
.message.svelte-1o61rav:lang(pa),
.message.svelte-1o61rav:lang(ta),
.message.svelte-1o61rav:lang(te),
.message.svelte-1o61rav:lang(ur) {
  line-height: 2.0769630769;
}
.message.svelte-1o61rav:lang(th) {
  font-family:
    SF Pro TH,
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.9384815385;
}
.message.svelte-1o61rav:lang(ar) {
  font-family:
    SF Pro AR,
    SF Pro AR Text,
    SF Pro Text,
    SF Pro Gulf,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.message.svelte-1o61rav:lang(ja) {
  font-family:
    SF Pro JP,
    SF Pro Text,
    SF Pro Icons,
    Hiragino Kaku Gothic Pro,
    ヒラギノ角ゴ Pro W3,
    メイリオ,
    Meiryo,
    ＭＳ Ｐゴシック,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.message.svelte-1o61rav:lang(ko) {
  font-family:
    SF Pro KR,
    SF Pro Text,
    SF Pro Icons,
    Apple Gothic,
    HY Gulim,
    MalgunGothic,
    HY Dotum,
    Lexi Gulim,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.message.svelte-1o61rav:lang(zh-CN) {
  font-family:
    SF Pro SC,
    SF Pro Text,
    SF Pro Icons,
    PingFang SC,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.message.svelte-1o61rav:lang(zh-HK) {
  font-family:
    SF Pro HK,
    SF Pro Text,
    SF Pro Icons,
    PingFang HK,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.message.svelte-1o61rav:lang(zh-MO) {
  font-family:
    SF Pro HK,
    SF Pro TC,
    SF Pro Text,
    SF Pro Icons,
    PingFang HK,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.message.svelte-1o61rav:lang(zh-TW) {
  font-family:
    SF Pro TC,
    SF Pro Text,
    SF Pro Icons,
    PingFang TC,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
@media (min-width: 740px) {
  .message.svelte-1o61rav {
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.4118447059;
  }
  .message.svelte-1o61rav:lang(bn),
  .message.svelte-1o61rav:lang(gu),
  .message.svelte-1o61rav:lang(hi),
  .message.svelte-1o61rav:lang(kn),
  .message.svelte-1o61rav:lang(ml),
  .message.svelte-1o61rav:lang(mr),
  .message.svelte-1o61rav:lang(or),
  .message.svelte-1o61rav:lang(pa),
  .message.svelte-1o61rav:lang(ta),
  .message.svelte-1o61rav:lang(te),
  .message.svelte-1o61rav:lang(ur) {
    line-height: 2.1176470588;
  }
  .message.svelte-1o61rav:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    line-height: 1.9764805882;
  }
  .message.svelte-1o61rav:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Text,
      SF Pro Text,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .message.svelte-1o61rav:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Text,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .message.svelte-1o61rav:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Text,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .message.svelte-1o61rav:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Text,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .message.svelte-1o61rav:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .message.svelte-1o61rav:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .message.svelte-1o61rav:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
.artwork.svelte-1o61rav {
  display: flex;
  max-height: min(100vw - 80px, 500px);
  overflow: hidden;
  position: relative;
}
.artwork__inner.svelte-1o61rav {
  --iconOffsetV: 500px;
  --iconOffsetH: 250px;
  --iconSize: min(70vw, 440px);
  --iconSizeMobile: 132px;
  aspect-ratio: 1;
  height: var(--iconSizeMobile);
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  min-height: var(--iconSizeMobile);
  width: var(--iconSize);
}
@media (min-width: 484px) {
  .artwork__inner.svelte-1o61rav {
    --iconSize: 440px;
    height: min(100vh - var(--iconOffsetV), 100%);
    max-height: var(--iconSize);
    width: calc(100vw - var(--iconOffsetH));
  }
}
.artwork__image.svelte-1o61rav {
  max-height: 100%;
  max-width: 100%;
}
.cta-btn.svelte-1o61rav {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  flex-shrink: 0;
  font-family: unset !important;
  font-family:
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 1.2142857143;
  margin: 0 auto;
  min-width: 150px;
  padding: 0 1em;
}
.cta-btn.svelte-1o61rav:lang(ar) {
  font-family:
    SF Pro AR,
    SF Pro AR Text,
    SF Pro Text,
    SF Pro Gulf,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(ja) {
  font-family:
    SF Pro JP,
    SF Pro Text,
    SF Pro Icons,
    Hiragino Kaku Gothic Pro,
    ヒラギノ角ゴ Pro W3,
    メイリオ,
    Meiryo,
    ＭＳ Ｐゴシック,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(ko) {
  font-family:
    SF Pro KR,
    SF Pro Text,
    SF Pro Icons,
    Apple Gothic,
    HY Gulim,
    MalgunGothic,
    HY Dotum,
    Lexi Gulim,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(th) {
  font-family:
    SF Pro TH,
    SF Pro Text,
    SF Pro Icons,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(zh-CN) {
  font-family:
    SF Pro SC,
    SF Pro Text,
    SF Pro Icons,
    PingFang SC,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(zh-HK) {
  font-family:
    SF Pro HK,
    SF Pro Text,
    SF Pro Icons,
    PingFang HK,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(zh-MO) {
  font-family:
    SF Pro HK,
    SF Pro TC,
    SF Pro Text,
    SF Pro Icons,
    PingFang HK,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
.cta-btn.svelte-1o61rav:lang(zh-TW) {
  font-family:
    SF Pro TC,
    SF Pro Text,
    SF Pro Icons,
    PingFang TC,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
@media (min-width: 740px) {
  .cta-btn.svelte-1o61rav {
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.1875;
  }
  .cta-btn.svelte-1o61rav:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Text,
      SF Pro Text,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Text,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Text,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Text,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .cta-btn.svelte-1o61rav:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (max-width: 999px) {
  .cta-btn.svelte-1o61rav {
    height: 32px;
  }
}
.secondary-action.svelte-1o61rav {
  margin-top: 21px;
}
.link-with-chevron.svelte-1o61rav {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: center;
}
.link-with-chevron.svelte-1o61rav svg {
  height: 10px;
  position: relative;
  top: 1px;
  fill: #fff;
}
