@charset "UTF-8";
.banner.svelte-1uspg9f.svelte-1uspg9f {
  align-items: center;
  background-color: var(--keyColorBG);
  box-shadow:
    0 1px #0000000d,
    0 1px 3px #00000012;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 30px;
  width: 100%;
}
.banner__close-button.svelte-1uspg9f.svelte-1uspg9f {
  box-sizing: initial;
  height: 10px;
  inset-inline-end: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 10px;
}
.banner__close-button.svelte-1uspg9f svg {
  height: inherit;
  width: inherit;
  fill: #fff;
}
.banner--collapsed.svelte-1uspg9f .banner__close-button.svelte-1uspg9f {
  display: none;
}
@media (min-width: 484px) {
  .banner__close-button.svelte-1uspg9f.svelte-1uspg9f {
    display: none;
  }
}
.banner__text-container.svelte-1uspg9f.svelte-1uspg9f {
  flex: 1;
}
@media (max-width: 483px) {
  .banner__text-container.svelte-1uspg9f.svelte-1uspg9f {
    text-align: center;
  }
  .banner--collapsed.svelte-1uspg9f .banner__text-container.svelte-1uspg9f {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}
@media (min-width: 484px) {
  .banner__text-container.svelte-1uspg9f.svelte-1uspg9f {
    margin-inline-end: 16px;
  }
}
.banner__cta-button.svelte-1uspg9f.svelte-1uspg9f,
.text__description.svelte-1uspg9f.svelte-1uspg9f,
.text__title.svelte-1uspg9f.svelte-1uspg9f {
  font-family: unset !important;
}
.text__title.svelte-1uspg9f.svelte-1uspg9f {
  color: #fff;
}
@media (max-width: 999px) {
  .text__title.svelte-1uspg9f.svelte-1uspg9f {
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.28;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Text,
      SF Pro Text,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Text,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Text,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Text,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (min-width: 1000px) {
  .text__title.svelte-1uspg9f.svelte-1uspg9f {
    font-family:
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.23;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Display,
      SF Pro Display,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Display,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Display,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Display,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Display,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__title.svelte-1uspg9f.svelte-1uspg9f:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Display,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (min-width: 484px) {
  .text__title.svelte-1uspg9f.svelte-1uspg9f {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.text__description.svelte-1uspg9f.svelte-1uspg9f {
  color: #fffc;
  margin-top: 8px;
  white-space: pre-line;
}
@media (max-width: 999px) {
  .text__description.svelte-1uspg9f.svelte-1uspg9f {
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.23;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Text,
      SF Pro Text,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Text,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Text,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Text,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (min-width: 1000px) {
  .text__description.svelte-1uspg9f.svelte-1uspg9f {
    font-family:
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.2307742857;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(ar) {
    font-family:
      SF Pro AR,
      SF Pro AR Text,
      SF Pro Text,
      SF Pro Gulf,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(ja) {
    font-family:
      SF Pro JP,
      SF Pro Text,
      SF Pro Icons,
      Hiragino Kaku Gothic Pro,
      ヒラギノ角ゴ Pro W3,
      メイリオ,
      Meiryo,
      ＭＳ Ｐゴシック,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(ko) {
    font-family:
      SF Pro KR,
      SF Pro Text,
      SF Pro Icons,
      Apple Gothic,
      HY Gulim,
      MalgunGothic,
      HY Dotum,
      Lexi Gulim,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(th) {
    font-family:
      SF Pro TH,
      SF Pro Text,
      SF Pro Icons,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-CN) {
    font-family:
      SF Pro SC,
      SF Pro Text,
      SF Pro Icons,
      PingFang SC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-HK) {
    font-family:
      SF Pro HK,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-MO) {
    font-family:
      SF Pro HK,
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang HK,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
  .text__description.svelte-1uspg9f.svelte-1uspg9f:lang(zh-TW) {
    font-family:
      SF Pro TC,
      SF Pro Text,
      SF Pro Icons,
      PingFang TC,
      Helvetica Neue,
      Helvetica,
      Arial,
      sans-serif;
  }
}
@media (max-width: 483px) {
  .banner--collapsed.svelte-1uspg9f .text__description.svelte-1uspg9f {
    display: none;
  }
}
[lang]:lang(th) .text__title.svelte-1uspg9f.svelte-1uspg9f {
  line-height: 1.6;
}
.banner__cta-button.svelte-1uspg9f.svelte-1uspg9f {
  --buttonTextColor: #000;
  --buttonBackgroundColor: #fff;
  box-shadow: 0 0 20px #0000000f;
  height: 32px;
  min-width: 125px;
}
@media (max-width: 483px) {
  .banner__cta-button.svelte-1uspg9f.svelte-1uspg9f {
    display: none;
  }
}
